#define APSTUDIO_HIDDEN_SYMBOLS 0
#define APSTUDIO_READONLY_SYMBOLS 0
#define IDC_STATIC -1

#include "resource.h"
#include "resource.hm"
#include "afxres.h"

LANGUAGE 9,1

IDB_SPRITES BITMAP DISCARDABLE "Sprtdata.bmp"
IDI_ICON ICON DISCARDABLE "icon1.ico"
ID_SOUND_DIAL WAVE DISCARDABLE "DialLoop.wav"
ID_SOUND_TITLE WAVE DISCARDABLE "Title_mini.wav"
ID_SOUND_SEARCH WAVE DISCARDABLE "SearchNumbers.wav"
ID_SOUND_FIND WAVE DISCARDABLE "FindNumber.wav"
ID_SOUND_KNOCK WAVE DISCARDABLE "knockknock.wav"

IDD_DIALOG DIALOGEX 0,0,308,240
CAPTION "The Matrix Screensaver Configuration"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
BEGIN
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,6,221,50,14
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,253,221,50,14
  CONTROL "enable Sound FX",IDC_SFX,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,124,70,10
  CONTROL "Matrix Show",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,42,91,96
  CONTROL "Title && Credits",IDC_TITLE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,57,61,8
  CONTROL "Telephone Sequence",IDC_PHONE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,71,83,9
  CONTROL "Hello Neo Sequence",IDC_MESSAGE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,86,82,10
  CONTROL "Matrix Code",IDC_CODE,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,102,69,10
  CONTROL "Restore defaults",ID_DEFAULT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,123,221,62,14
  CONTROL "The Matrix2k Screensaver V2.22  (c) by burning_Thornbush 2003",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,50,4,208,9
  CONTROL "Contact: burning_Thornbush@yahoo.com",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,86,25,137,8
  CONTROL "http://pp2k.host56.com/matrix/",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,109,15,90,9
  CONTROL "",IDC_EDIT,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_WANTRETURN|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE,136,62,163,43,WS_EX_CLIENTEDGE
  CONTROL "",IDC_TELNO,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,258,156,44,12,WS_EX_CLIENTEDGE
  CONTROL "Telephonenumber to search for(max. 10):",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,119,156,130,8
  CONTROL "MultiMonitor Support",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|BS_GROUPBOX,6,144,91,45
  CONTROL "Clone Screen",IDC_CLONE,"Button",WS_VISIBLE|BS_AUTORADIOBUTTON,10,156,57,8
  CONTROL "Virtual Screen",IDC_VIRTUAL,"Button",WS_VISIBLE|BS_AUTORADIOBUTTON,10,172,68,9
  CONTROL "Hello Neo Sequence",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|BS_GROUPBOX,116,42,187,96
  CONTROL "Write down Trinitys message to Neo:",IDC_MSG_CUSTOM,"Button",WS_VISIBLE|BS_AUTORADIOBUTTON,119,52,173,9
  CONTROL "Use Username instead of Neo",IDC_MSG_USER,"Button",WS_VISIBLE|BS_AUTORADIOBUTTON,119,110,178,9
  CONTROL "Original Message like the Movie",IDC_MSG_ORIG,"Button",WS_VISIBLE|BS_AUTORADIOBUTTON,119,124,180,9
  CONTROL "Use actual time and date on search sequence",IDC_ACT_TIME,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,119,172,181,9
  CONTROL "Matrix Glitches",IDC_MTX_GLITCH,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,119,201,174,10
  CONTROL "Telephone Sequence",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,116,144,187,45
  CONTROL "Matrix Code",IDC_STATIC,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,116,192,187,22
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,2,2,0
PRODUCTVERSION 2,2,2,0
FILEOS 0x00040004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "burning_Thornbush\0"
      VALUE "FileDescription", "Matrix - Screensaver\0"
      VALUE "FileVersion", "2, 2, 2, 0\0"
      VALUE "InternalName", "matrix_reloaded\0"
      VALUE "LegalCopyright", "Copyright © 2003\0"
      VALUE "OriginalFilename", "matrix_reloaded.scr\0"
      VALUE "ProductName", "burning_Thornbush ScreenSaver\0"
      VALUE "ProductVersion", "2, 2, 2, 0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

